<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para volver atrás -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Formulario conectado al método login() -->
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
        </ion-item>
    
        <!-- Botón que ejecuta el método login -->
        <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
      </form>

      <ion-row>
        <ion-col>
          <p>¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
