<!-- src/app/pages/user/user.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para volver atrás -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>¿Tienes alguna pregunta? ¡Nos encantaría saber de ti! Contáctanos a través de los siguientes medios:</p>
        <ul>
          <li>Teléfono: +56 9 1234 5678</li>
          <li>Email: contacto&#64;retailoff.com</li>
          <li>Dirección: Calle Falsa 123, Santiago, Chile</li>
        </ul>
        <ion-button expand="block" color="primary" href="mailto:contacto@retailoff.com">Enviar Email</ion-button>    </ion-card-content>
  </ion-card>
</ion-content>
