<!-- src/app/pages/user/user.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para volver atrás -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Servicies</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ofrecemos una amplia gama de servicios en la industria del retail:</p>
        <ul>
          <li>Consultoría en e-commerce</li>
          <li>Desarrollo de plataformas de gestión de inventarios</li>
          <li>Implementación de CRM para fidelización de clientes</li>
          <li>Soluciones de análisis de datos y Business Intelligence</li>
        </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
